# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo
/aseprite/

src/.DS_Store

src/main/.DS_Store

src/main/resources/.DS_Store

src/main/resources/data/paperpunchcards/.DS_Store

src/main/resources/data/paperpunchcards/recipe/.DS_Store
